.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  height: calc(100vh - (74px + 56px));
}

.profile__hello {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.profile__label-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.profile__label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__input-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.profile__input {
  height: 50px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: white;
  width: 410px;
  background-color: inherit;
  border: none;
}
.profile__input_error {
  color: #EE3465;
}
.profile__input:focus{
  outline: none;
}

.profile__error-input {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  opacity: 0;
}

.profile__error-input_active {
  opacity: 1;
}
.profile__brake-line {
  border-color: #424242;
  border-top: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border-width: 1px;
}

.profile__buttons-container {
  display: flex;
  flex-direction: column;
}

.profile__submit-button {
  margin-top: 220px;
  align-self: center;
  margin-bottom: 16px;
  border: none;
  background-color: inherit;
  width: 410px;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: .4;
  transition: .2s;
}
.profile__submit-button_active {
  opacity: 1;
  cursor: pointer;
}
.profile__exit-button {
  border: none;
  background-color: inherit;
  width: 410px;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
}

@media screen and (max-width: 1279px) {

}
@media screen and (max-width: 767px) {
  .profile__container {
    padding-bottom: 40px;
    height: calc(100vh - (40px + 70px + 60px));
    justify-content: space-between;
  }
  .profile__form {
    width: 81.25vw;
    margin-top: 80px;
  }
  .profile__hello {
    font-size: 24px;
    line-height: 29px;
  }
  .profile__input-title {
    font-size: 11px;
    line-height: 13px;
  }
  .profile__label {
    justify-content: space-between;
  }
  .profile__input {
    font-size: 11px;
    line-height: 13px;
    width: 69vw;
  }
  .profile__submit-button {
    width: 100vw;
  }
  .profile__exit-button {
    width: 100vw;
  }
}